name: 'mostlyai-mock tests'

on: [workflow_call]

env:
  PYTHON_KEYRING_BACKEND: keyring.backends.null.Keyring
  FORCE_COLOR: '1'

jobs:
  run-tests:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 1
          submodules: 'true'

      - name: Setup | uv
        uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7.1.5
        with:
          enable-cache: false
          python-version: '3.10'

      - name: Setup | Dependencies
        run: |
          uv sync --frozen

      - name: Test | End-to-End Tests
        run: |
          uv run --no-sync pytest -vv tests/end_to_end
